<div>

    <h1>Productos</h1>

        <h2>{{this.title}}</h2>
        <p><b>Descripción:</b> {{this.description}}</p>
        <p><b>Precio: $</b>{{this.price}}</p>
        <p><b>Código:</b> {{this.code}}</p>
        <p><b>Stock:</b> {{this.stock}}</p>
        <p><b>Thumbnail:</b> {{this.thumbnail}}</p>

    <p>No hay productos</p>
</div>


 <script src="/socket.io/socket.io.js"></script>
 <script src="../public/index.js"></script>
